<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPgi4X5wsruHyNHue0cgfKOX4TY9hAtS8</string>
	<key>GCM_SENDER_ID</key>
	<string>858590846312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ku.kufood</string>
	<key>PROJECT_ID</key>
	<string>kufood-9eb5d</string>
	<key>STORAGE_BUCKET</key>
	<string>kufood-9eb5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858590846312:ios:a41352cc28383de9c2cadd</string>
</dict>
</plist>